* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

.container h1 {
    text-align: center;
    position: relative;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
}

.container h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
}

.services {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.services i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.services h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 8px;
    color: blue;
}


.services p {
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
}

.services:hover {
    background: #303ef7;
    color: white;
    transform: scale(1.05);
}

.services:hover i {
    color: white;
}

.services:hover h2 {
    color: red;
}